<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<script type="text/javascript">
    function ExecPythonCommand(pythonCommand) {
        var request = new XMLHttpRequest()
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText, JSON.parse(this.responseText))
            }
        };
        request.open("GET", "/function/" + pythonCommand, true)
        request.send()
    }
    function checkNameId() {
        var request = new XMLHttpRequest()
        request.open("POST", "/checkid", true)
        request.send()
    }
    function deleteAll() {
        ExecPythonCommand("face_recognize.deleteAll()")
    }
</script>

<body>
    <div class="container">
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </p>

        <div class="row">
            <h3 class="mt-5">Face 🙂 Recognization App</h3>
        </div>
        <div class="row">
            <div id="demo"></div>
            <div class="col-xs-1 text-centerr">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded img-responsive img-center" id=" screen"
                        src="{{ url_for('video_feed') }}" />
                    <figcaption class="figure-caption text-center">Look at the camera after pressing the create button
                    </figcaption>
                </figure>


                <form action="create_data" method="POST">
                    <div class="form-group row">
                        <label for="inputId" class="col-sm-2 col-form-label">Your ID</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" min="0" id="inputId" name="id" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="name" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Create database and train👀</button>

                </form>
                <div class="d-flex">
                    <button onclick="deleteHandler()" class="btn btn-danger mr-2">Delete All Data✖️</button>
                    <a href="/result_face_recognize" class="btn btn-dark btn-block ml-2" style="width:fit-content;">Face
                        Recognize🔍</a>
                </div>
                <br>
                <button type="submit" value="Submit" class="btn btn-outline-danger"><a href="/"
                        class="text-decoration-none">Go
                        home</a></button>

            </div>
            <div class="col-xs-1 text-centerr">
                <table class="table" style="margin-left: 24px">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in id %}
                        <tr>
                            <th scope="row">{{i}}</th>
                            <td>{{name[id.index(i)]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
    <script type="text/javascript">


        // function createData() {
        //     let id = document.getElementById("id").value;
        //     let name = document.getElementById("name").value;
        //     document.getElementById("screen").setAttribute("src", `{{ url_for('create_data', id=1, name=an) }}`);
        // }
        // function recognize1() {
        //     document.getElementById("screen").setAttribute("src", `{{ url_for('face_recognize_live') }}`);
        // }

        function deleteHandler() {
            deleteAll();
            window.setTimeout(() => {
                window.location.reload();
            }, 1000);
        }
    </script>
</body>


</html>